/* Included Google Font QuickStand */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Included Google Font QuickStand */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-left {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}

a.nav-item {
    text-decoration: none;
}


